@media (min-width:0px) and (max-width:1200px){
   .side_logo { display: none; margin: 0 auto;} 

}
@media (min-width:0px) and (max-width:1200px){
    .card-content{
     padding-top: 0;
     margin-top: 0;
    }
 }
.card-content{
    padding-top: 90px;
}