/* body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  } */
  
  .card-img-left {
    width: 55%;
    /* Link to your background image using in the property below! */
    background: scroll center url('../../asset/images/3907317.jpg');
    background-size: cover;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  
  .rounded-pill {
    padding-left: 25px;
    padding-bottom: 10px;
  }
  .card-body{
    margin: 40px; 
  }
  /* .card{
    background: aquamarine;
  } */
 h2{
  font-weight: bold;
  margin-top: 10px;
 }